<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GS Portal</title>
    <link rel="stylesheet" href="/Assets/css/app.css" />
  </head>
  <body>
    <div class="contain">
      <div id="sidebar"></div>

      <div class="main-content">
        <div id="header"></div>
        <main class="content-area">
          <div>
            <!-- Isi Content -->
          </div>
        </main>
      </div>
    </div>

    <div class="overlay" id="overlay"></div>
    <script src="/Assets/js/app.js"></script>
    <script src="/Assets/js/import-partials.js"></script>
  </body>
</html>
