/* Import font dan reset dasar */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("partials/header.css");
@import url("partials/sidebar.css");
@import url("components/overlay.css");
@import url("responsive.css");
@import url("pages/employee-page.css");
@import url("pages/home_page.css");
@import url("pages/internship_page.css");
@import url("pages/flowchart_page.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6e4;
  overflow: hidden;
}

.contain {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
  color: white;
}

.content-area h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
